.mask{
    position: fixed;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(000,000,000,0.6);    
    .parents{
        width: 100%;
        height:100%;
        position: relative;
        .dl,.select,.notice{
            background: url(../images/mask_bg.png);
            background-size:cover ;
            width: 481px;
            height:460px;
            position: absolute;
            left:0;
            top:0;
            right:0;
            bottom: 0;
            margin:auto;
            h2{
                width: 100%;
                text-align: center;
                font:34px/88px "微软雅黑";
                color: #c59900;
                height:88px;            
                span{
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top:0;
                    height:88px;
                    width: 80px;
                    cursor: pointer;
                    img{
                        height:27px;
                        position: absolute;
                        top:0;
                        bottom: 0;
                        right: 17px;
                        margin:auto;
                    }
                }
            }
            .pers{
                 padding-left: 33px;
                h3{
                    position: relative;
                   
                    label{
                        width: 98px;
                        font:24px/56px "微软雅黑";
                        color: #333;
                        span{
                            padding-left:17px;
                        }
                    }
                    input,select,{
                        font:15px/54px "微软雅黑";
                        color: #c59900;
                        width: 288px;
                        padding-left: 18px;
                        height:50px;
                        background: #ffffff;
                        border:2px solid transparent;
                    }
                    .yzm{
                        width: 167px;
                        
                    }
                    a{
                        display: block;
                        width: 115px;
                        height:54px;
                        left: 10px;
                        position: relative;
                        img{
                            height: 35px;
                            position: absolute;
                            left:0;
                            right:0;
                            bottom: 0;
                            top:0;
                            margin:auto;
                        }
                    }
                    select{
                        width: 298px;
                        cursor: pointer;
                    }
                    .zhezhao{
                        background: url(../images/secect_sanjiao.png) no-repeat center;
                        background-size:cover ;
                        width: 55px;
                        height:50px;
                        position: absolute;
                        cursor: pointer;
                        top:0;
                        right:66px;
                         pointer-events: none;
                    }
                }
                h4{
                    padding-left: 117px;
                    font:16px/32px "微软雅黑";
                    color: #df2a2f;
                    height:32px;
                }
            }
            p{
                width: 185px;
                margin:0 auto;
                a{
                    display: block;
                    width: 185px;
                    margin:0 auto;
                    font:29px/70px "微软雅黑";
                    color: #fff;
                    text-align: center;
                    background: url(../images/mask_ljdl.png) no-repeat center;
                    background-size:cover ;
                }
            }
        }
        .select{
            width: 472px;
            height:372px;
            background: url(../images/mask_select_bg.png) no-repeat center;
            background-size:cover ;
            h3{
                input{
                    width: 276px!important;
                }
            }
        }
        .notice{
            width: 472px;
            height:372px;
            background: url(../images/mask_select_bg.png) no-repeat center;
            background-size:cover ;
            h2{
                width: 100%;
                height:88px;
                text-align: center;             
                span{
                    cursor: pointer;
                    img{
                        height:27px;
                    }
                }
            }
            p{
                   width: 185px;
                    margin: 0 auto;
                    position: absolute;
                    bottom: 38.5px;
                    left: 0;
                    right: 0;
            }
            .clipboard{
                width: 180px;
                margin: 0 auto;
                position: absolute;
                bottom: 38.5px;
                left: 0;
                right: 0;
                h6{
                    width: 180px;
                    margin: 0 auto;
                    font: 16px/40px "微软雅黑";
                    color: #fff;
                    text-align: center;
                    background: url(../images/dl_bg.png) no-repeat center;
                    background-size: cover;
                }
            }
            h5{
                font:16px/30px "微软雅黑";
                width: 90%;
                margin:0 auto;
                color: #c59900;
                text-align: center;  
                span{
                    color: darkred;
                    margin:0 15px;
                }              
            }
        }        
    }   
}

